<div class='bests'>
  <h2>The Absolute Best ... </h2>
  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/plna4yeuPLQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/JDnZTUkCOBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/NsswAP2_HZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/SmucWOLnAb4?start=76" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
