header {
 background: #1007D8;
 text-align: center;
 color: #E1E7E4;
 height: 80px;
}

header nav {
  float: right;
}

header button {
 float: left;
 color: #fffdd0;
 background-color: #1007D8;
 font-size: 40px;
 height: 50px;
 width: 70px;
 margin-top: 15px;
 margin-bottom: 6px;
 font-weight: 800;
 border: none;
 text-align: center;
}

header button:hover {
  color: #04FBFB;
}
header a {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline-block;
  text-decoration: none;
  padding: 24px 10px;
  font-size: 2rem;
}
nav li:link {
  text-decoration: none;
}

nav li:hover {
  background: #3F8DA7;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
nav a {
  color: white;
  text-decoration:none;
}

.hero-image {
  background-image: url(https://i.imgur.com/UUdAaYL.jpg);
  height: 800px;
  padding-top: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.standings {
  font-weight: 800;
  background-color: #808080;
  opacity: 0.8;
  width: 70%;
  height: 100%;
  margin: auto;
  border-radius: 30px;
  overflow-y: auto;
}
#rankings {
  margin: 5px;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}
.standings h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 4% 0% 4%;
}

th {
  font-size: 15px;
  font-weight: 800;
  text-align: left;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position:relative;
}

tr:hover {
  background-color: #f5f5f5;
}
.bests {
  font-weight: 800;
    background: radial-gradient(ellipse farthest-corner at right bottom, #ffbf00 0%, #FDB931 8%, #ffbf00 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #ffbf00 8%, #D1B464 25%, #ffbf00 62.5%, #5d4a1f 100%);
  width: 95%;
  height: 100%;
  margin: auto;
  border-radius: 30px;
  overflow-y: auto;
}
.bests h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
  text-align: center;
  padding: 4% 0% 4%;
}
.list-games {
  flex-flow: row wrap;
  display: flex;
  width: 100%
}
.games {
  width: 68.5%;
  height: auto;
  width: 70%;
  height: 100%;
  margin: auto;
  border-radius: 30px;
  background-color: #808080;
  opacity: 0.8;
}
.games h2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    padding: 4% 0% 4%;
}
.game {
  align-self: flex-start;
  margin: 15px;
  width: 150px;
  height: 150px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  font-size: 1rem;
}
.youtube {
  padding: 0px 10px 30px 40px;
}
